{% extends 'base.html'%}



{% block header %}
<style>
    /*
    * Specific styles of signin component
    */
    /*
    * General styles
    */
    body, html {
    height: 100%;
    }


    .card-container.card {
    width: 350px;
    padding: 40px 40px;
    }

    .btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    }

    /*
    * Card component
    */
    .card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    }

    /*
    * Form styles
    */
    .profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
    }

    .reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

    .form-signin #inputEmail,
    .form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
    }

    .form-signin input[type=email],
    .form-signin input[type=password],
    .form-signin input[type=text],
    .form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

    .form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    }

    .btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    }

    .btn.btn-signin:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
    }

    .forgot-password {
    color: rgb(104, 145, 162);
    }

    .forgot-password:hover,
    .forgot-password:active,
    .forgot-password:focus{
    color: rgb(12, 97, 33);
    }
    #prop_huella {
        position: relative;
        bottom: 0;
    }
    .color-palette {
        height: 35px;
        line-height: 35px;
        text-align: center;
      }
      .color-palette-set {
        margin-bottom: 15px;
      }
      .color-palette span {
        display: none;
        font-size: 12px;
      }
      .color-palette:hover span {
        display: block;
      }
      .color-palette-box h4 {
        position: absolute;
        top: 100%;
        left: 25px;
        margin-top: -40px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        display: block;
        z-index: 7;
</style>


{% endblock %}

{% block content %}


{% if status == "invalido" %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Usuario o clave inv&aacutelidos</h4>
</div>
{% endif %}
{% if status == "no activo" %}
<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-warning"></i> Alerta!</h4>
    Este usuario ya no se encuentra activo!
</div>
{% endif %}
{% if status == "olvide" %}
<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-warning"></i> Alerta!</h4>
    Pongase en contacto con el administrador del sistema!
</div>
{% endif %}


<div style="background-color:white;height:500px;" >
    <div class="container">
        <div class="card card-container">
            <div align="center"><p>Primicias de NM</p><br><br><br></div>
            {% load staticfiles %}
            <img id="profile-img" class="profile-img-card" src="{% static "imagenes/avatar_2x.png" %}"/>
            <p id="profile-name" class="profile-name-card"></p>
            <form action="/login/" method="post" style="text-align: center;height:200px;">{% csrf_token %}
                <label for="username">Usuario</label><br>
                <input type="text" name="username" value="{{ username}}" id="username"><br>
                <label for="password">Clave</label><br>
                <input type="password" name="password" value="" id="password"><br><br>
                <div class="row">
                    <input type="submit" value="Entrar" name="Entrar" class="btn btn-primary  " id="entrar_boton">
                </div>
                <div class="row">
                    <a href="#" id="missing_key_link"><span class="text-muted">Olvide mi clave!</span></a>
                </div>
                <!--<input type="submit" value="Olvide mi Contraseña"  name="olvide" class="btn btn-info  ">-->
            </form>
        <div align="center" id="prop_huella">BM2pie</div>
        </div>
    </div>
</div>
{% endblock%}