{% extends 'Sistema/main.html' %}
{% load staticfiles%}
<link rel="stylesheet" href="{% static "admin/plugins/datatables/dataTables.bootstrap.css"%}">

{% block contenido %}
<style>
    .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
</style>
    <div style="text-align: center;" class="box-body">
        <h2>Consulta del Rol {{rol.name}}</h2>

        <div align="center"><br><br>

                <div class="col-md-10 col-centered">
                    <div class="box box-solid">
                        
                            <table class="table table-striped" style="text-align: center;" id="tabla_rol">
                                <thead>
                                    <tr class="text-info">
                                        <th style="text-align: center;" class="col-xs-1">#</th>
                                        <th  style="text-align: center;" class="col-md-1">Nombre de Permiso</th>
                                    </tr>
                                </thead>
                                <tbody id="rows">

                                {% for permiso_ciclo in permisos %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ permiso_ciclo.name }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                </div>
            </div>
        </div>
        <br>
        <div align="center">
            <form action="" method="post">{% csrf_token %}
            <input type="submit" class="btn btn-info" name="Retroceder" value="Retroceder">
            </form>
        </div>


    </div>
<!-- DataTables -->
<script src="{% static "admin/plugins/datatables/jquery.dataTables.min.js"%}"></script>
<script src="{% static "admin/plugins/datatables/dataTables.bootstrap.min.js"%}"></script>

<script>
    $(document).ready(function() {
    $('#tabla_rol').DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": true
        });
     });
    </script>
{% endblock %}