{% extends 'Sistema/main.html' %}
{% block head %}
{% load staticfiles %}
<script src="{% static "admin/plugins/autoNumeric/autoNumeric.js"%}"></script>
{% endblock %}
{% block contenido %}
<style type="text/css" media="screen">
select { width: 100px; margin-right: 20px; }
    .required {
        color: red;
    }
    .form-control {
        width: 97%;
        float: left;
    }
    .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    }
</style>

<div  style="text-align: center;" class="box-body no-padding">
    <h2>Modificar Comida</h2>
    {% if error == 'vacio' %}
    <div class="alert alert-danger alert-dismissible " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> Complete los datos requeridos antes de guardar.
    </div>
    {%endif%}

    <div align="center" class="col-md-6 col-centered">
        <div class="box box-solid">
    
    <form action="" method="post" style="text-align:left;" id="crear_cliente_form">{% csrf_token %}
        

                <table class="table table-hover table-responsive">
                    <thead>
                    <tr class="text-info">
                        <th style="text-align: center;" colspan="2">Informacion</th>
                    </tr>
                    </thead>
                    <tbody id="rows" >
                    <tr>
                        <td ><label class="control-label" for="nombre">Nombre<i class="fa fa-asterisk required" id="icon_required"></i></label> </td>
                        <td><input id="nombre" type="text" name="nombre"  value="{{comida.nombre}}" class="form-control" placeholder="Ej: Milanesa Napolitana" required> </td>
                    </tr>
                        <tr>
                        <td><label class="control-label" for="sel_opciones">Calorias<i class="fa fa-asterisk required" id="icon_required"></i></label> </td>
                        <td><div class="form-group">
  <select class="form-control" id="sel_opciones" name="calorias">
    {% for opcion in opciones %}
      {% if opcion == comida.calorias %}
        <option selected="selected">{{opcion}}</option>
      {% else %}
        <option>{{opcion}}</option>
      {% endif %}
    {% endfor %}
  </select>
</div> </td>
                    </tr>
                        <tr>
                        <td><label class="control-label" for="precio">Precio<i class="fa fa-asterisk required" id="icon_required"></i></label> </td>
                        <td><input id="precio" type="text" name="precio" value={{comida.precio}} class="form-control" placeholder="15000" data-a-dec="," data-a-sep="." data-a-pad="false"> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>    
</div>



<div align="center">
    <!-- Aqui va la condicional el if de los permisos para guardar--><input type="submit" class="btn btn-primary"  name="Guardar" value="Guardar">
    <input type="reset" class="btn btn-info" value="Reestablecer Datos">
    <input type="submit" class="btn btn-info" name="Cancelar" value="Cancelar">
</div>

</form>
<script>
    $("#crear_cliente_form").validate({
        rules: {
            nombre: "required",
            calorias: "required",
            precio: "required",
        }
    });
</script>
<script>
    $('#precio').keyup(function () {
  	jQuery(function($) {
      	$('#precio').autoNumeric('init');    
  	});
});  
</script>
{% endblock %}