{% extends 'Sistema/main.html' %}
{% load staticfiles%}
<link rel="stylesheet" href="{% static "admin/plugins/datatables/dataTables.bootstrap.css"%}">

{% block contenido %}
<style>
    .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
    .same-line {
        float: left;
    }
    dd, dt {
        font-size: 20px;
    }
</style>
<div align="center" style="margin-top: 50px;">
    <div class="col-md-6 col-centered">
      <div class="box box-primary">
        <div class="box-header with-border" style="text-align: center;">
            <h2 style="margin: 0;"><strong>Consulta de Cliente</strong></h2>
        </div><!-- /.box-header -->
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>Nombre</dt>
            <dd>{{cliente.nombre}}</dd>
            <br>
            <dt>Apellido</dt>
            <dd>{{cliente.apellido}}</dd>
              <br>
            <dt>RUC/CI</dt>
            <dd>{{cliente.ruc_ci}}</dd>
              <br>
            <dt>Telefono</dt>
            <dd>{{cliente.telefono}}</dd>
              <br>
            {% if cliente.telefono_2 %}
            <dt>Celular</dt>
            <dd>{{cliente.telefono_2}}</dd>
              <br>
            {% endif %}
            {% if cliente.correo %}
            <dt>Email</dt>
            <dd>{{cliente.correo}}</dd>
            <br>
            {% endif %}
            {% for item in direccionesActuales %}
            <dt>Direccion</dt>
            <dd>{{item.direccion}}</dd>
            <br>
            {% endfor %}

          </dl>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
</div>
<form action="" method="post">{% csrf_token %}
    <div align="center">
            <input type="submit" class="btn btn-info" name="Retroceder" value="Retroceder">
    </div>
</form>
{% endblock %}
